Source: small-cleanup-script
Section: admin
Priority: optional
Maintainer: Maciej Krüger <mkg20001@gmail.com>
Build-Depends: debhelper (>=9), bash, devscripts
Standards-Version: 3.9.6
Homepage: https://github.com/mkg20001/small-cleanup-script#readme
Vcs-Git: https://github.com/mkg20001/small-cleanup-script.git
Vcs-Browser: https://github.com/mkg20001/small-cleanup-script

Package: small-cleanup-script
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, sudo, bsdutils
Description: Small Cleanup Script
 This will update all packages,
 remove unused packages (autoremove)
 and remove old configuration files (purge)
