Source: small-cleanup-script
Section: admin
Priority: optional
Maintainer: Maciej Krüger <maciej@unknown>
Build-Depends: debhelper (>=9), bash, devscripts
Standards-Version: 3.9.6
Homepage: https://github.com/mkg20001/small-cleanup-script
Vcs-Git: https://github.com/mkg20001/small-cleanup-script
Vcs-Browser: https://github.com/mkg20001/small-cleanup-script

Package: small-cleanup-script
Architecture: all
Depends: ${misc:Depends}
Description: Small Cleanup Script
 This will update all packages,
 remove unused packages (autoremove)
 and remove old configuration files (purge)
